<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right header-menu">
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "Profile", root_path %></li>
      <li><a href="/tweets"><i class="fa fa-comment"></i><span>All tweets</span></a></li>
      <li> <%= link_to "Edit", edit_user_path(id: current_user.id) %></li>
      <li><%= link_to log_out_path, method: :delete, class: "page-scroll" do %>
                  <span> <i class="fa fa-sign-out"> Sing Out</i> </span>
                <% end %>
             </li>

    </ul>
  </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <aside class="col-md-4">
      <section>

        <div class="profile clearfix">
          <%= image_tag(@user.avatar.url) %>
          <div>
            <%= "#{@user.first_name} #{@user.last_name}" %>
          </div>
          <div><%= @user.email %></div>
        </div>

        <div class="stats">
          <table>
            <tbody>
              <tr>
                <th>Tweets</th>
                <th>Followings</th>
                <th>Followers</th>
              </tr>
              <tr>
                <td><%= @user.tweets.count %></td>
                <td><%= link_to @user.following.count, following_user_path %></a></td>
                <td><%= link_to @user.followers.count, followers_user_path %></a></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="tweet-actions">

        <% if @user != current_user %>
          <div id="follow_form">
            <% if current_user.following?(@user) %>
              <%= render 'unfollow' %>
            <% else %>
              <%= render 'follow' %>
            <% end %>
              </div>
        <% end %>


      </section>
    </aside>
    <div class="col-md-8">
      <div class="timeline">
        <h2 class="title">Tweets</h2>

        <div class="tweets">
                 <% @user.tweets.each do |tweet| %>
                    <li class="tweet clearfix" >
                                  <%=  image_tag(@user.avatar.url(:thumb))%>
                                  <%= "#{tweet.user.first_name} #{tweet.user.last_name}" %>
                                  <%= tweet.text %>
                                  <small class="text-muted">Last updated <%= time_ago_in_words(tweet.updated_at) %> ago</small>

                    </li>
                  <% end %>
                </div>
        <hr>
      </div>
    </div>
  </div>
</div>
